/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(173, 240, 237);
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(169, 120, 46);
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

.section-home {
    background-color: #0692f0;
    padding: 50px 0;
}

.section-about,
.section-services {
    padding: 50px 0;
}

button {
    padding: 10px 20px;
    background-color: #bde3f3;
    color: rgba(20, 20, 20, 0.281);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #80dff4;
}

footer {
    background-color: #c8c8c8;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
